

#preloader {
  position: fixed;
  inset: 0;
  background: #0f0f0f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  z-index: 9999;
  transition: opacity 0.4s ease;
}


.loader-icon {
  font-size: 40px;        
  color: rgb(235, 240, 240);           
  animation: spin 1s linear infinite;
}


@keyframes spin {
  to { transform: rotate(360deg); }
}


.loading-text {
  font-family: monospace;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  color: #eee;
  opacity: 0.8;
}
